@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-colors_default {
  @apply text-slate-900 dark:text-white;
}

/** customized backgrounds **/
.bg-headerblock {
  @apply bg-colours-1 dark:bg-colours-dark-1;
}

.bg-block {
  @apply bg-colours-2 dark:bg-colours-dark-2;
}

.bg-background {
  @apply bg-colours-3 dark:bg-colours-dark-3;
}


